html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6em;
}
    div {  
    margin: 40px auto;
}

footer {
    background-color: #333;
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
}


/* Círculo*/
#grafico-01 {
    height: auto;
    overflow: hidden;
    border-radius: 50%;
    max-width: 100%;
}

#grafico-01 img {
    width: 100%;
    height: auto;
}

/* Triângulo */
#grafico-02 {
    background: transparent;
    border-style: solid;
    border-width: 60px 0 60px 120px;
    border-color: transparent transparent transparent blue;
    width: 60px;
}

#imagem-vetorial {
    width: 100px;
}

#canvas {
    height: 300px;
    width: 300px;
}

/* Filtros */

#grafico-01 {
    filter: drop-shadow(10px 10px 10px #333)s;
}

.filtro {
    filter: blur(2px);
    filter: brightness(50%); /* brilho 100% é o normal*/
    filter: invert(100%);
    filter: opacity(100%); /* opacidade 100% é o normal */
     /* para um filtro não sobrescrever o outro colocar na mesma linha antes do ";" */
    filter: saturate(105%) sepia(80%); 

}

.filtro:hover {
    filter: grayscale(0%);
}